<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persistence.UserMapper">
   <cache eviction="LRU" type="com.example.utils.RedisCache" />
  <resultMap type="com.example.model.User" id="user">
    <result property="userId" column="user_id" />
    <result property="passWord" column="pass_word" />
    <result property="name" column="name" />
  </resultMap>

	<insert id="insert" parameterType="com.example.model.User" useGeneratedKeys="true" keyProperty="userId">
    	insert into `t_user`(
    	<trim prefixOverrides=",">
    		<if test="true">
    			,`user_id`
    		</if>
	    	<if test="passWord != null">
	    		,`pass_word`
	    	</if>
	    	<if test="name != null">
	    		,`name`
	    	</if>
    	</trim>
    	) values(
		<trim prefixOverrides=",">
    		<if test="true">
    			,#{userId}
    		</if>
	    	<if test="passWord != null">
    			,#{passWord}
    		</if>
	    	<if test="name != null">
    			,#{name}
    		</if>
    	</trim>
    	)
	</insert>
	<update id="update" parameterType="com.example.model.User">
		update `t_user` 
		<trim prefix="set" prefixOverrides=","> 
					<if test="passWord !=null">
						,`pass_word` = #{passWord}
					</if>
					<if test="name !=null">
						,`name` = #{name}
					</if>
		</trim>
		where `user_id` = #{userId}
	</update>
	<select id="findAll" parameterType="com.example.model.User" resultMap="user">
		select * from `t_user`
	</select>
	<select id="findById" parameterType="java.lang.Long" resultMap="user">
		select * from `t_user` where user_id = #{userId}
	</select>
	<delete id="delete" parameterType="java.lang.Long">
		delete from `t_user` where `user_id` = #{id}
	</delete>	
	<select id="find" parameterType="com.example.model.User" resultMap="user">
		select * from `t_user`
		<where>
				<if test="userId !=null">
					and `user_id` = #{userId} 
				</if>
				<if test="passWord !=null">
					and `pass_word` = #{passWord} 
				</if>
				<if test="name !=null">
					and `name` = #{name} 
				</if>
		</where>
	</select>
<!--	<select id="findByPage" parameterType="com.framework.pagination.DefaultCriteria" resultMap="user">
		select * from `t_user`
	</select>  -->
</mapper>